{{define "blog_index_header"}}
{{template "common_header"}}
			<div class="container whosonfirst-subpage-container">
			  <div class="row">
			    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0">
			      <aside>
				<div class="whosonfirst-sidenav-container">
					<ul class="whosonfirst-sidenav-list">


					  <li class="whosonfirst-sidenav-list-element">
					    <a href="/blog/2019/" class="whosonfirst-nav-link whosonfirst-sidenav-link">2019</a>
					  </li>

					  <li class="whosonfirst-sidenav-list-element">
					    <a href="/blog/2018/" class="whosonfirst-nav-link whosonfirst-sidenav-link">2018</a>
					  </li>

					  <li class="whosonfirst-sidenav-list-element">
					    <a href="/blog/2017/" class="whosonfirst-nav-link whosonfirst-sidenav-link">2017</a>
					  </li>

					  <li class="whosonfirst-sidenav-list-element">
					    <a href="/blog/2016/" class="whosonfirst-nav-link whosonfirst-sidenav-link">2016</a>
					  </li>

					  <li class="whosonfirst-sidenav-list-element">
					    <a href="/blog/2015/" class="whosonfirst-nav-link whosonfirst-sidenav-link">2015</a>
					  </li>
					  
					</ul>

				</div>
			      </aside>
			    </div>
			    <div class="col-lg-7 col-md-9 col-sm-9 col-xs-12">
			      <article>
{{end}}
