								</div>
							</div>
						</article>
					</div>
					<div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
				</div>
			</div>
		</div>
		<footer>
			<nav class="navbar navbar-default navbar-bottom">
				<div class="container">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<ul class="nav navbar-nav navbar-right whosonfirst-footer">
						<li class="whosonfirst-nav-link-nounderline whoosonfooter-gig">who's on first is a <a href="https://mapzen.com/" class="whosonfirst-nav-link whosonfirst-nav-link-innounderline">mapzen</a> gig</li>
						<li><a href="../../../docs/contributing/" class="whosonfirst-nav-link whosonfirst-footer-nav-link">contributing</a></li>
						<li><a href="../../../docs/licensing/" class="whosonfirst-nav-link whosonfirst-footer-nav-link">licensing</a></li>
						<li><a href="https://github.com/whosonfirst" class="whosonfirst-nav-link whosonfirst-footer-nav-link">code github</a></li>
						<li><a href="https://github.com/whosonfirst-data" class="whosonfirst-nav-link whosonfirst-footer-nav-link">data github</a></li>
						<li><a href="https://twitter.com/alloftheplaces/" class="whosonfirst-nav-link whosonfirst-footer-nav-link">twitter</a></li>
					</ul>
				</div>
			</nav>
		</footer>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="../../../javascript/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../../../javascript/bootstrap.min.js"></script>
		<script src="../../../javascript/mapzen.whosonfirst.subpage.js"></script>
        <!-- JavaScript for code styling from highlightpack.js -->
		<script src="../../../javascript/highlightpack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>