            	</div>
        	</div>
    	</section>
	</body>
    <footer>
        <div class='headroom-large custom-footer'>
            <div class='container'>
                <div class='row'>
                    <div class='col-xs-12 text-left custom-footer'>
                        <p>Who's On First is a <a href='https://mapzen.com/' class="custom-footer-actual-link">Mapzen</a> gig</p>
                        <p class="custom-footer-link custom-footer-first-link "><i class='fa fa-lg fa-fw fa-twitter'></i>Follow <a href='https://twitter.com/alloftheplaces/' class="custom-footer-actual-link">@alloftheplaces</a> on Twitter</p>
                        <p class="custom-footer-link"><i class='fa fa-lg fa-fw fa-github'></i>Check out our <a href='https://github.com/mapzen/' class="custom-footer-actual-link">whosonfirst</a> and <a href='https://github.com/whosonfirst-data/' class="custom-footer-actual-link">whosonfirst-data</a> organizations on Github</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="../javascript/mapzen.whosonfirst.api.js"></script>
    <script src='../javascript/mapzen-styleguide.js'></script>
    <!--<script src='https://mapzen.com/common/styleguide/scripts/mapzen-styleguide.min.js'></script>-->
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js'></script>
</html>