<div class="container whosonfirst-subpage-container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-0">
			<aside>
				<div class="whosonfirst-sidenav-container">

					<ul class="whosonfirst-sidenav-list">

						<li class="whosonfirst-sidenav-list-element">
						  <a href="#go" class="whosonfirst-nav-link whosonfirst-sidenav-link">go</a>
						</li>

						<li class="whosonfirst-sidenav-list-element">
						  <a href="#javascript" class="whosonfirst-nav-link whosonfirst-sidenav-link">javascript</a>
						  </li>

						<li class="whosonfirst-sidenav-list-element">						
						  <a href="#php" class="whosonfirst-nav-link whosonfirst-sidenav-link">php</a>
						</li>

						<li class="whosonfirst-sidenav-list-element">						
						  <a href="#python" class="whosonfirst-nav-link whosonfirst-sidenav-link">python</a>
						</li>

						<li class="whosonfirst-sidenav-list-element">
						  <a href="#www" class="whosonfirst-nav-link whosonfirst-sidenav-link">web applications</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>
		<div class="col-lg-7 col-md-9 col-sm-9 col-xs-12">
			<article>
