			<!-- START footer.html -->

		</div>
		<footer>
			<nav class="navbar navbar-default navbar-bottom">
				<div class="container">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<ul class="nav navbar-nav navbar-right whosonfirst-footer">
						<li><a href="/docs/contributing/" class="whosonfirst-nav-link whosonfirst-footer-nav-link">contributing</a></li>
						<li><a href="/docs/licensing/" class="whosonfirst-nav-link whosonfirst-footer-nav-link">license</a></li>
						<li><a href="https://twitter.com/alloftheplaces/" class="whosonfirst-nav-link whosonfirst-footer-nav-link">twitter</a></li>
					</ul>
				</div>
			</nav>
		</footer>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/javascript/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/javascript/bootstrap.min.js"></script>
		<script src="/javascript/mapzen.whosonfirst.home.js"></script>
		<script src="/javascript/mapzen.whosonfirst.subpage.js"></script>
		<!-- JavaScript for code styling from highlightpack.js -->
		<script src="/javascript/highlightpack.js"></script>
		<script>
		  try {
		  	hljs.initHighlightingOnLoad();
		  } catch (e) {
		  	console.log("HLJS", e);
		  }
		</script>
	</body>
</html>

<!-- END footer.html -->
