.header-container {
    background-color: #ff4947;
    padding: 12%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.center-subject {
    padding: 0;
    margin: 0px 0px 0px 0px;
    color: #ffffff;
}

#theory-wrapper {
    margin-top: 1em;
}

.subpage-wrapper {
    margin-top: 1em;
}

.link-within {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: normal;
    padding: 10%;
}

.link-subtext {
    display: block;
    font-size: 13px;
    font-weight: 200;
    color: #666;
    line-height: 18px;
}

.link-subtext:active, .link-subtext:hover, .link-subtext:visited {
    color: #666;
    text-decoration: none;
}

.link-highlight {
    line-height: 19.2px;
}

#theory-2015, #theory-2016, #theory-2017 {
    margin-top: 36px;
}

footer {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

pre {
    padding-bottom: 2px;
}

.link-below {
    margin-bottom: 6px;
}

.link-above {
    margin-top: 6px;
}

.caveat {
    margin-top: 48px;
}

.first-entry {
    margin-top: 48px;
}

.subpage-header {
    color: #2C1E3F;
    padding: 36px 0px 12px;
}

.subpage-header-two {
    color: #2C1E3F;
    padding: 0px 0px 12px;
}

.project-content-sub {
    padding-top: 72px;
}

.toc-sub-left {
    margin-top: 0px;
}

.documentation-container {
    /*padding-top: 5em;*/
    top: 75px;
}

.custom-navbar {
    background-color: #DDDDDD;
}

.custom-footer {
    background-color: #f8f8f8;
}

.custom-navbar-type, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-brand:visited  {
    color: #2C1E3F;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    color: #FF4947;
}

.custom-navbar-header {
    font-weight: 700;
    font-size: 20px;
    height: 56px;
    line-height: 56px;
    padding: 0px 30px 0px 15px;
}

.navbar-header {
    height: 56px;
    line-height: 56px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2C1E3F;
}

.custom-footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.custom-footer-link {
    margin-bottom: 2px;
}

.custom-footer-actual-link {
    font-weight: 400;
}

.custom-footer-first-link {
    padding-top: 8px;
}

.no-nav {
    height: 0;
    margin-top: 0;
    min-height: 0;
}

.section-nav {
    top: 20px;
}

@media (max-width: 767px) {
    .section-nav {
        top: 0px !important;
    }
    
    .small-responsive-image {
        width: auto;
    }
}

@media (max-width: 992px) {
    body {
        margin-top: 0px;
    }
}

.bundle-list {
    list-style-type: none;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    margin-bottom: 2em;
}