.header-container {
    background-color: #f7beb4;
    padding: 12%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.center-subject {
    padding: 0;
    margin: 0px 0px 0px 0px !important;
    color: #ffffff;
}

#theory-wrapper {
    margin-top: 1em;
}

.link-within {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: normal;
    padding: 10%;
}

.link-subtext {
    display: block;
    font-size: 13px;
    font-weight: 200;
    color: #666;
    line-height: 18px;
}

.link-subtext:active, .link-subtext:hover, .link-subtext:visited {
    color: #666;
    text-decoration: none;
}

.link-highlight {
    line-height: 19.2px;
}

#theory-2015, #theory-2016, #theory-2017 {
    margin-top: 36px;
}

footer {
    margin-bottom: 0 !important;
}