@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,500|Roboto:300,400');

.whosonfirst-thirds-col {
	height: 390px;
	width: 390px;
	padding: 5px;
}

.whosonfirst-half-col {
	height: 390px;
	width: 585px;
	padding: 5px;
}

.whosonfirst-doubleheight-col {
	height: 780px;
	width: 390px;
	padding: 5px;
}

.whosonfirst-doublewidth-col {
	height: 390px;
	width: 780px;
	padding: 5px;
}

.whosonfirst-tripleheight-col {
	height: 1170px;
	width: 390px;
	padding: 5px;
}

.whosonfirst-doublewidth-doubleheight-col {
	height: 780px;
	width: 780px;
	padding: 5px;
}

.whosonfirst-doublewidth-tripleheight-col {
	height: 1170px;
	width: 780px;
	padding: 5px;
}

.whosonfirst-thirds-card {
	height: 380px;
	width: 380px;
	border-radius: 4px;
}

.whosonfirst-half-card {
	height: 380px;
	width: 575px;
	border-radius: 4px;
}

.whosonfirst-doubleheight-card {
	height: 770px;
	width: 380px;
	border-radius: 4px;
}

.whosonfirst-doublewidth-card {
	height: 380px;
	width: 770px;
	border-radius: 4px;
}

.whosonfirst-doublewidth-doubleheight-card {
	height: 770px;
	width: 770px;
	border-radius: 4px;
}

.whosonfirst-smallercard-topmargin {
	margin-top: 10px;
}

.whosonfirst-twocards-onecol {
	display: inline-block;
}

.whosonfirst-twocards-onecol-secondcard {
	margin-left: 6.12px;
}

.whosonfirst-dark-gradient {
	background: #1F1F1F; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #1F1F1F, #242424); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #1F1F1F, #242424); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #1F1F1F, #242424); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #1F1F1F, #242424); /* Standard syntax */
}

.navbar-brand {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.navbar-default .navbar-brand {
	color: #1F1F1F;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #1F1F1F;
	padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 13px;
    margin-left: 13px;
	margin-bottom: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FE189D;
	border-color: #FE189D;
}

.whosonfirst-nav-link {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	border-bottom: .8px solid #1F1F1F;
}

.whosonfirst-nav-link-innounderline {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
}

.whosonfirst-nav-link-nounderline {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	border-bottom: none;
	padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 13px;
    margin-left: 13px;
	margin-bottom: 14px;
	padding-top: 15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.3;
	color: #1F1F1F;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 36px;
}

.whosonfirst-deemphasized-header {
	font-weight: 300;
}

.whosonfirst-main-headline {
	width: 70%;
	box-sizing: border-box;
	margin: 96px 0px 144px;
}

.whosonfirst-card-container {
	padding-bottom: 60px;
}

.whosonfirst-subpage-container {
	padding-bottom: 60px;
	padding-top: 102px;
}

.whosonfirst-card-headers {
	margin: 0;
	color: #FFFFFF;
	letter-spacing: -4px;
}

.whosonfirst-card-subheader {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3;
	color: #888888;
}

.whosonfirst-subpage-header {
	margin: 0;
	color: #1F1F1F;
	letter-spacing: -3px;
}

p {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.3;
	color: #1F1F1F;
}

.whosonfirst-card-content-thirds {
	padding: 60px 30px 12px 30px;
}

.whosonfirst-card-content-doubleheight {
	padding: 196px 30px 12px 30px;
}

.whosonfirst-card-content-doublewidth {
	padding: 60px 30px 12px 30px;
}

.whosonfirst-card-content-half {
	padding: 60px 30px 12px 30px;
}

.whosonfirst-card-doublewidth-doubleheight {
	padding: 196px 30px 12px 30px;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #1F1F1F;
}

.whosonfirst-sidenav-container {
	margin-top: 24px;
	margin-right: 12px;
	position: fixed;
	width: 250.5px;
}

.whosonfirst-sidenav-list {
	padding: 0;
	margin: 0;
}

.whosonfirst-sidenav-list-element {
	display: block;
	margin: 8px 0px;
}

.whosonfirst-sidenav-link, .whosonfirst-sidenav-link:hover {
	text-decoration: none;
	display: inline;
	color: #1F1F1F;
}

.whosonfirst-sidenav-link:hover {
	color: #FE189D;
	border-color: #FE189D;
}

.whosonfirst-sidenav-link-twoliner {
	line-height: 27px;
}

.whosonfirst-sidenav-list-element-secondlevel {
	margin-left: 24px;
}

.whosonfirst-sidenav-list-element-thirdlevel {
	margin-left: 48px;
}

@media (max-width: 1200px) {
	.whosonfirst-thirds-col {
		height: 323.33px;
		width: 323.33px;
		padding: 4px;
	}

	.whosonfirst-half-col {
		height: 323.33px;
		width: 485px;
		padding: 4px;
	}

	.whosonfirst-doubleheight-col {
		height: 646.66px;
		width: 323.33px;
		padding: 4px;
	}

	.whosonfirst-doublewidth-col {
		height: 323.33px;
		width: 646.66px;
		padding: 4px;
	}

	.whosonfirst-tripleheight-col {
		height: 969.99px;
		width: 323.33px;
		padding: 4px;
	}

	.whosonfirst-doublewidth-doubleheight-col {
		height: 646.66px;
		width: 646.66px;
		padding: 4px;
	}

	.whosonfirst-doublewidth-tripleheight-col {
		height: 969.99px;
		width: 646.66px;
		padding: 4px;
	}

	.whosonfirst-thirds-card {
		height: 315.33px;
		width: 315.33px;
		border-radius: 4px;
	}

	.whosonfirst-half-card {
		height: 315.33px;
		width: 477px;
		border-radius: 4px;
	}

	.whosonfirst-doubleheight-card {
		height: 638.66px;
		width: 315.33px;
		border-radius: 4px;
	}

	.whosonfirst-doublewidth-card {
		height: 315.33px;
		width: 638.66px;
		border-radius: 4px;
	}

	.whosonfirst-doublewidth-doubleheight-card {
		height: 638.66px;
		width: 638.66px;
		border-radius: 4px;
	}
	
	.whosonfirst-twocards-onecol-secondcard {
		margin-left: 4.12px;
	}
	
	.whosonfirst-smallercard-topmargin {
		margin-top: 8px;
	}
		
	h1 {
		font-size: 54px;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 30px;
	}
	
	.whosonfirst-card-headers {
		letter-spacing: -3px;
	}

	.whosonfirst-card-subheader {
		font-size: 16px;
	}
	
	.whosonfirst-card-content-thirds {
		padding: 57px 30px 12px 30px;
	}

	.whosonfirst-card-content-doubleheight {
		padding: 164px 30px 12px 30px;
	}

	.whosonfirst-card-content-doublewidth {
		padding: 57px 30px 12px 30px;
	}

	.whosonfirst-card-content-half {
		padding: 57px 30px 12px 30px;
	}

	.whosonfirst-card-doublewidth-doubleheight {
		padding: 164px 30px 12px 30px;
	}
}

@media (max-width: 992px) {
	.whosonfirst-thirds-col {
		height: 250px;
		width: 250px;
		padding: 4px;
		float: left;
	}

	.whosonfirst-half-col {
		height: 250px;
		width: 375px;
		padding: 4px;
		float: left;
	}

	.whosonfirst-doubleheight-col {
		height: 500px;
		width: 250px;
		padding: 4px;
		float: left;
	}

	.whosonfirst-doublewidth-col {
		height: 250px;
		width: 500px;
		padding: 4px;
		float: left;
	}

	.whosonfirst-tripleheight-col {
		height: 750px;
		width: 250px;
		padding: 4px;
		float: left;
	}

	.whosonfirst-doublewidth-doubleheight-col {
		height: 500px;
		width: 500px;
		padding: 4px;
		float: left;
	}

	.whosonfirst-doublewidth-tripleheight-col {
		height: 750px;
		width: 500px;
		padding: 4px;
		float: left;
	}

	.whosonfirst-thirds-card {
		height: 242px;
		width: 242px;
		border-radius: 4px;
	}

	.whosonfirst-half-card {
		height: 242px;
		width: 367px;
		border-radius: 4px;
	}

	.whosonfirst-doubleheight-card {
		height: 492px;
		width: 242px;
		border-radius: 4px;
	}

	.whosonfirst-doublewidth-card {
		height: 242px;
		width: 492px;
		border-radius: 4px;
	}

	.whosonfirst-doublewidth-doubleheight-card {
		height: 492px;
		width: 492px;
		border-radius: 4px;
	}
	
	.whosonfirst-twocards-onecol-secondcard {
		margin-left: 2px;
	}
	
	.whosonfirst-smallercard-topmargin {
		margin-top: 8px;
	}
	
	h1 {
		font-size: 45px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}
	
	.whosonfirst-card-headers {
		letter-spacing: -2.5px;
	}

	.whosonfirst-card-subheader {
		font-size: 13px;
	}
	
	.whosonfirst-card-content-thirds {
		padding: 38px 20px 12px 20px;
	}

	.whosonfirst-card-content-doubleheight {
		padding: 122px 20px 12px 20px;
	}

	.whosonfirst-card-content-doublewidth {
		padding: 38px 20px 12px 20px;
	}

	.whosonfirst-card-content-half {
		padding: 38px 20px 12px 20px;
	}

	.whosonfirst-card-doublewidth-doubleheight {
		padding: 122px 20px 12px 20px;
	}
}

@media (max-width: 768px) {
	.whosonfirst-thirds-col {
		width: 100%;
		height: 180px;
		padding: 5px 4%;
		float: left;
	}

	.whosonfirst-half-col {
		width: 100%;
		height: 240px;
		padding: 5px 4%;
		float: left;
	}

	.whosonfirst-doubleheight-col {
		width: 100%;
		height: 240px;
		padding: 5px 4%;
		float: left;
	}

	.whosonfirst-doublewidth-col {
		width: 100%;
		height: 240px;
		padding: 5px 4%;
		float: left;
	}

	.whosonfirst-tripleheight-col {
		width: 100%;
		height: 240px;
		padding: 5px 4%;
		float: left;
	}

	.whosonfirst-doublewidth-doubleheight-col {
		width: 100%;
		height: 240px;
		padding: 5px 4%;
		float: left;
	}

	.whosonfirst-doublewidth-tripleheight-col {
		width: 100%;
		height: 240px;
		padding: 5px 4%;
		float: left;
	}
	
	.whosonfirst-doubleheight-double-col {
		width: 100%;
		height: 480px;
		padding: 5px 4%;
		float: left;
	}
	
	.whosonfirst-doubleheight-triple-col {
		width: 100%;
		height: 720px;
		padding: 5px 4%;
		float: left;
	}

	.whosonfirst-thirds-card {
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}

	.whosonfirst-half-card {
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}

	.whosonfirst-doubleheight-card {
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}

	.whosonfirst-doublewidth-card {
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}

	.whosonfirst-doublewidth-doubleheight-card {
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}
	
	.whosonfirst-double-card {
		height: 230px;
		width: 100%;
		border-radius: 4px;
	}
	
	.whosonfirst-twocards-onecol-secondcard {
		margin-left: 0px;
	}
	
	.whosonfirst-smallercard-topmargin {
		margin-top: 10px;
	}
	
	.whosonfirst-smallercard-third-topmargin {
		margin-top: 5px;
	}
	
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 20px;
	}
	
	.whosonfirst-main-headline {
		margin: 72px 0px 96px;
		padding: 0 4%;
	}
	
	.whosonfirst-card-headers {
		letter-spacing: -2px;
	}

	.whosonfirst-card-subheader {
		font-size: 14px;
	}
	
	.whosonfirst-card-content-thirds {
		padding: 24px 20px 12px 20px;
	}

	.whosonfirst-card-content-doubleheight {
		padding: 44px 20px 12px 20px;
	}

	.whosonfirst-card-content-doublewidth {
		padding: 44px 20px 12px 20px;
	}

	.whosonfirst-card-content-half {
		padding: 44px 20px 12px 20px;
	}

	.whosonfirst-card-doublewidth-doubleheight {
		padding: 44px 20px 12px 20px;
	}
	
	.whosonfirst-nav-link-nounderline {
		margin-bottom: 2px;
		padding-top: 2px;
	}
	
	.navbar-default .navbar-nav>li>a {
		display: inline;
	}
	
	.nav>li {
		display: inline;
	}
	
	.whoosonfooter-gig {
		display: block !important;
	}
	
	.whosonfirst-footer-nav-link {
		line-height: 30px !important;
		margin-left: 6px !important;
		margin-right: 6px !important;
	}
	
	.whosonfirst-footer-nav-link:first-child {
		margin-left: 13px !important;
	}
	
	.whosonfirst-footer-nav-firstlink:last-child {
		margin-right: 13px !important;
	}
	
	.whosonfirst-footer {
		padding: 0 4%;
	}
	
	.whosonfirst-navbar-element-collapsed {
		display: block !important;
		float: right;
		width: 100%;
	}
	
	.whosonfirst-nav-link-collapsed {
		font-size: 20px;
		font-weight: 300;
		border-bottom: 1px solid #1F1F1F;
		line-height: 30px !important;
		float: right;
		margin-bottom: 4px !important;
		padding-top: 5px !important;
	}
	
	.navbar {
		background-color: #F5F5F5
	}
	
	.navbar-default .navbar-collapse {
		border-color: transparent
	}
	
	.navbar-nav {
		margin-top: 18px;
		margin-bottom: 24px;
	}
	
	.navbar-bottom {
		background-color: transparent;
	}
}