@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

#map {
    height: 100%;
}

.project-demo {
  width: 100%;
  height: 100%;
}

.leaflet-container {
	width: 100%;
	position: absolute;
	z-index: 0;
}

.whosonfirst-results-container {
	background-color: rgba(0,0,12,.5);
	height: 100vh;
	padding: 18px;
}

.whosonfirst-input-container {
	height: 100vh;
	padding: 18px;
}

.whosonfirst-result {
	display: inline-block;
	background-color: rgba(0,0,12,.65);
	opacity: 1;
	margin-bottom: 12px;
	border-radius: 4px;
	width: 100%;
}

.whosonfirst-result-header {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: #FFFFFF;
	margin: 6px 0px 12px;
}

.whosonfirst-result-subrow {
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 82%;
}

.whosonfirst-api-code-subrow {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.whosonfirst-result-box-container {
	height: 93%;
	overflow: hidden;
	overflow-y: scroll;
}

.whosonfirst-result-row {
	padding: 6px !important;
	height: auto;
}

.whosonfirst-result-col {
	padding: 2px 6px !important;
	font-size: 12px;
}

.whosonfirst-individual-result-header {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	display: inline-block;
}

.whosonfirst-individual-result-subheader {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
	padding-top: 2px;
}

.whosonfirst-individual-result-key {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #FFFFFF;
	text-align: right;
	line-height: 1.2;
}

.whosonfirst-individual-result-answer {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #FFFFFF;
	display: inline-block;
	line-height: 1.2;
}

.whosonfirst-individual-result-code {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #FFFFFF;
	display: inline-block;
	line-height: 1.2;
}

.whosonfirst-individual-code-container {
	background-color: rgba(0,0,12,.65);
	padding: 12px;
}

.whosonfirst-interaction-id {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
	background-color: #FE189B;
	padding: 2px 4px;
	display: inline-block;
	border-radius: 2px;
}

.whosonfirst-interaction-answer-id {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #FFFFFF;
	background-color: #FE189B;
	padding: 1px 2px;
	display: inline-block;
	border-radius: 2px;
	margin-left: 4px;
}

.whosonfirst-button {
	padding: 5px 8px !important;
	color: #FFFFFF !important;
	border: 1px solid #FFFFFF !important;
	background-color: transparent!important;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 18px !important;
	font-weight: 300 !important;
	margin-top: 12px;
	display: inline-block !important;
}

.whosonfirst-inputtop-box-container {
	height: 70%;
}

.whosonfirst-inputbottom-box-container {
	height: 30%;
	background-color: rgba(0,0,12,.5);
	border-radius: 6px;
}

.circle-one {
	border-radius: 50%;
	width: 42px;
	height: 42px;
	background-color: rgba(0,0,12,.65);
	margin: 6px;
}

.input-group {
	width: inherit;
}

.whosonfirst-interaction-input {
	background-color: transparent !important;
	color: #FFFFFF !important;
	border: 1px solid #FFFFFF !important;
	border-radius: 2px !important;
	margin: 6px 0px;
}

.whosonfirst-interaction-input-backing {
	background-color: rgba(0,0,12,.5) !important;
	color: #FFFFFF !important;
	border: 1px solid #FFFFFF !important;
	border-radius: 2px !important;
}

.whosonfirst-interaction-input-group {
	background-color: rgba(0,0,12,.5) !important;
	color: #FFFFFF !important;
	border: 1px solid #FFFFFF !important;
	border-radius: 2px !important;
}

.whosonfirst-interaction-input-button {
	background-color: transparent!important;
	color: #FFFFFF !important;
	border: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFF !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFFF !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFFFFF !important;
}

.leaflet-right {
	margin-right: 23.4%;
}

.zero-margin {
	margin: 0px;
}

.whosonfirst-tutorial-container {
	width: 400px;
	height: 300px;
	background-color: rgba(0,0,12,.5);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -200px;
	border-radius: 6px;
}