@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400|Roboto+Mono:100');

#map {
    height: 100%;
}

.whosonfirst-tutorial-demo {
  width: 100%;
  height: 100%;
}

/* Who's On First JS Tutorial Leaflet */

.leaflet-container {
	width: 100%;
	position: absolute;
	z-index: 0;
}

.leaflet-bottom.leaflet-right {
	right: 0%;
	-webkit-transition: right 1.6s ease-in-out;
	-moz-transition: right 1.6s ease-in-out;
	-o-transition: right 1.6s ease-in-out;
	transition: right 1.6s ease-in-out;
}

.leaflet-right-activated {
	right: 25% !important;
}

/* Who's On First Tutorial Margins and Padding */

.whosonfirst-tutorial-no-margin {
	margin: 0px !important;
}

.whosonfirst-tutorial-no-padding {
	padding: 0px !important;
}

/* Who's On First Pointer Styling */

.whoonsfirst-tutorial-no-pointer {
	pointer-events: none;
}

.whoonsfirst-tutorial-auto-pointer {
	pointer-events: auto;
}

/* Who's On First Tutorial Left Column */

.whosonfirst-tutorial-input-container {
	height: 100vh;
	padding: 18px;
}

.whosonfirst-tutorial-input-top-container {
}

.whosonfirst-tutorial-input-bottom-container {
	background-color: rgba(33,33,33,.8);
	border-radius: 4px;
	padding: 12px 0px;
	width: 70%;
	position: absolute;
	bottom: 18px;
	left: -72%;
	-webkit-transition: left 1.6s ease-in-out;
	-moz-transition: left 1.6s ease-in-out;
	-o-transition: left 1.6s ease-in-out;
	transition: left 1.6s ease-in-out;
}

.whosonfirst-tutorial-input-bottom-container-activated {
	left: 18px;
}

a:hover {
	text-decoration: none !important;
	color: #FE189B !important;
	border-color: #FE189B !important;
}

.whosonfirst-tutorial-input-box {
	background-color: transparent !important;
	color: rgba(255,255,255,.8) !important;
	border: 1px solid rgba(255,255,255,.8) !important;
	border-radius: 2px !important;
	margin: 0px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px !important;
}

.whosonfirst-tutorial-input-top-box {
	height: 40px;
}

.whosonfirst-tutorial-input-top-box-left {
	background-color: transparent!important;
	color: rgba(33,33,33,.8) !important;
	border: 2px solid rgba(33,33,33,.8) !important;
	border-top-left-radius: 2px !important;
	border-bottom-left-radius: 2px !important;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 400 !important;
	font-size: 16px !important;
	height: 40px !important;
}

.whosonfirst-tutorial-input-top-box-left:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.whosonfirst-tutorial-input-top-box-right {
	background-color: rgba(33,33,33,.8) !important;
	color: #FFFFFF !important;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
}

.whosonfirst-tutorial-input-top-box-right-button {
	background-color: transparent!important;
	color: #FFFFFF !important;
	border: none !important;
	line-height: 18px !important;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100 !important;
	font-size: 16px !important;
}

.whosonfirst-tutorial-input-header {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: rgba(255,255,255,.8);
	padding: 0 0 12px;
	margin: 0;
}

.whosonfirst-tutorial-top-side-button {
	display: block;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	border: 2px solid rgba(33,33,33,.8);
	margin: 10px 0;
	padding: 0;
	background-color: transparent;
	-webkit-transition: background-color .8s ease-in-out;
	-moz-transition: background-color .8s ease-in-out;
	-o-transition: background-color .8s ease-in-out;
	transition: background-color .8s ease-in-out;
}

.whosonfirst-tutorial-top-side-button-activate {
	background-color: rgba(33,33,33,.5)
}

.whosonfirst-tutorial-top-side-point-button {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	border: 2px solid rgba(33,33,33,.8);
	margin: 10px;
}

.whosonfirst-tutorial-top-side-pointpoint-container {
	margin: 10px 8px;
}

.whosonfirst-tutorial-top-side-pointpoint-button {
	border-radius: 50%;
	width: 6px;
	height: 6px;
	background-color: rgba(33,33,33,.8);
	display: inline-block;
}

.whosonfirst-tutorial-top-side-plane-button {
	width: 20px;
	height: 20px;
	border: 2px solid rgba(33,33,33,.8);
	margin: 12px;
}

.whosonfirst-tutorial-individual-input {
	margin: 0px 0px 4px;
	display: inline-block;
	width: inherit;
}

/* Who's On First Tutorial Middle Column */

.whosonfirst-tutorial-middle-column {
	height: 100vh;
	position: inherit !important;
}


.whosonfirst-tutorial-info-container {
	width: 600px;
	height: 400px;
	background-color: rgba(33,33,33,.8);
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 4px;
	text-align: center;
	margin: -200px 0 0 -300px;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.whosonfirst-tutorial-info-container-deactivated {
	opacity: 0;
}

.whosonfirst-tutorial-info-container-deactivated-nodisplay {
	display: none !important;
}

.whosonfirst-tutorial-info-image {
	height: 200px;
	display: none;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.whosonfirst-tutorial-info-image-deactivated {
	opacity: 0;
}

.whosonfirst-api-initial-no-show {
	display: none;
}

.whosonfirst-tutorial-info-image-display {
	display: block;
	position: relative;
}

.btn:focus, .form-control:focus {
	outline: none !important;
	box-shadow: none !important;
}

.whosonfirst-tutorial-info-header {
	color: rgba(255,255,255,.8);
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 26px;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.whosonfirst-tutorial-info-header-one {
	padding-top: 36px;
}

.whosonfirst-tutorial-info-subheader {
	color: rgba(255,255,255,.8);
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	padding: 6px 20px 0;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.whosonfirst-tutorial-info-bottom-row {
	position: absolute;
	bottom: 12px;
	width: inherit;
}

.whosonfirst-tutorial-info-back {
	color: rgba(255,255,255,.8);
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	border-bottom: 1px solid rgba(255,255,255,.8);
	padding: 0;
	display: inline-block;
	float: left;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.whosonfirst-tutorial-info-next {
	color: rgba(255,255,255,.8);
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	border-bottom: 1px solid rgba(255,255,255,.8);
	padding: 0;
	display: inline-block;
	float: right;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.whosonfirst-tutorial-info-progess-circle {
	border-radius: 50%;
	width: 14px;
	height: 14px;
	border: 1px solid rgba(255,255,255,.8);
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: background-color .8s ease-in-out;
	-moz-transition: background-color .8s ease-in-out;
	-o-transition: background-color .8s ease-in-out;
	transition: background-color .8s ease-in-out;
}

.whosonfirst-tutorial-info-progess-circle-activated {
	background-color: rgba(255,255,255,.3);
}

.whosonfirst-tutorial-info-close {
	color: rgba(255,255,255,.8) !important;
	text-shadow: none !important;
	opacity: 1 !important;
	font-weight: 100 !important;
	font-size: 36px !important;
	float: left !important;
}

.whosonfirst-tutorial-input-top-box-left::-webkit-input-placeholder {
	color: rgba(33,33,33,.4) !important;
	font-weight: 400 !important;
}

.whosonfirst-tutorial-input-top-box-left::-moz-input-placeholder {
	color: rgba(33,33,33,.4) !important;
	font-weight: 400 !important;
}

.whosonfirst-tutorial-input-box::-webkit-input-placeholder {
	color: rgba(255,255,255,.2) !important;
	font-weight: 100 !important;
}

.whosonfirst-tutorial-input-box::-mox-input-placeholder {
	color: rgba(255,255,255,.2) !important;
	font-weight: 100 !important;
}

.whosonfirst-tutorial-form-clue {
	color: #FFFFFF;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	margin-bottom: 2px;
}

.whosonfirst-tutorial-form-clue:first-of-type {
	margin-top: 0px;
}

.whosonfirst-tutorial-individual-result-answer-clue {
	font-size: 15px;
	font-weight: 100;
	color: rgba(255,255,255,.2);
	border-bottom: none;
	display: inline-block;
}

/* Who's On First Tutorial Right Column */

.whosonfirst-tutorial-results-container {
	background-color: rgba(31,31,31,.8);
	height: 100vh;
	width: 100%;
	padding: 0px;
	position: absolute;
	left: 100%;
	-webkit-transition: left 1.6s ease-in-out;
	-moz-transition: left 1.6s ease-in-out;
	-o-transition: left 1.6s ease-in-out;
	transition: left 1.6s ease-in-out;
}

.whosonfirst-tutorial-results-container-activated {
	left: 0%;
}

.whosonfirst-tutorial-result-subrow {
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 78%;
	padding: 0;
	overflow: hidden;
	border-bottom: 2px solid rgba(255,255,255,.1);
}

.whosonfirst-tutorial-api-code-subrow {
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 22%;
	padding: 0;
}

.whosonfirst-tutorial-result-header {
	color: rgba(255,255,255,.8);
	background-color: rgba(31,31,31,.4);
	font-weight: 100;
	height: initial;
	position: absolute;
	width: 100%;
}

.whosonfirst-tutorial-api-header {
	color: rgba(255,255,255,.8);
	background-color: rgba(31,31,31,.4);
	font-weight: 100;
	height: initial;
	position: absolute;
	width: 100%;
}

.whosonfirst-tutorial-result-header {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: rgba(255,255,255,.8);
	padding: 16px 12px 12px;
	margin: 0;
	background-color: rgba(63,63,63,1);
	z-index: 1;
}

.whosonfirst-tutorial-api-header {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: rgba(255,255,255,.8);
	padding: 16px 12px 12px;
	margin: 0;
	background-color: rgba(63,63,63,1);
}

.whosonfirst-tutorial-result-container {
	height: 100%;
	overflow: hidden;
}

.whosonfirst-tutorial-underline-interactive-answer {
	border-bottom: 1px solid rgba(255,255,255,.8);
}

.whosonfirst-tutorial-result {
	display: inline-block;
	background-color: rgba(33,33,33,.8);
	opacity: 1;
	margin-bottom: 12px;
	border-radius: 4px;
	width: 100%;
	padding: 12px;
}

.whosonfirst-tutorial-result-subrow {
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 78%;
	padding: 0;
	overflow: hidden;
	border-bottom: 2px solid rgba(255,255,255,.1);
}

.whosonfirst-tutorial-api-code-subrow {
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 22%;
	padding: 0;
}

.whosonfirst-tutorial-result-box-container {
	overflow: hidden;
	overflow-y: scroll;
	height: 100%;
	padding: 12px 12px 0;
	padding-top: 73px;
}

.whosonfirst-tutorial-result-row {
	padding: 6px !important;
	height: auto;
}

.whosonfirst-tutorial-result-col {
	padding: 0px !important;
	font-size: 12px;
}

.whosonfirst-tutorial-result-subresults-container {
	display: inline-block;
	margin: 12px 0px 0px !important;
	width: inherit;
}

.whosonfirst-tutorial-individual-result-header {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: rgba(255,255,255,.8);
	border-bottom: 1px solid rgba(255,255,255,.8);
	display: inline;
	margin-top: -2px !important;
	padding-bottom: 2px;
	line-height: 1.5;
}

.whosonfirst-tutorial-individual-result-subheader {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: rgba(255,255,255,.7);
	padding-top: 4px;
	line-height: 1.2;
}

.whosonfirst-tutorial-individual-result-key {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: rgba(255,255,255,.4);
	text-align: right;
	line-height: 1.2;
	padding: 4px 16px 0px 0px;
}

.whosonfirst-tutorial-individual-result-answer {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: rgba(255,255,255,.8);
	display: inline-block;
	line-height: 1.2;
	padding: 4px 0px 0px 0px;
}

.whosonfirst-tutorial-individual-result-code {
	font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 100;
	color: rgba(255,255,255,.8);
	display: inline-block;
	line-height: 1.3;
	word-break: break-all;
	margin: 0px;
}

.whosonfirst-tutorial-individual-code-container {
	padding: 12px;
	padding-top: 73px;
	border-radius: 4px;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

.whosonfirst-tutorial-individual-code-box {
	background-color: #1F1F1F;
	padding: 12px;
	border-radius: 4px;
	overflow: hidden;
	overflow-y: scroll;
}

.whosonfirst-tutorial-interaction-id {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: rgba(255,255,255,.8);
	background-color: #FE189B;
	padding: 2px 4px;
	display: inline-block;
	border-radius: 2px;
}

.whosonfirst-tutorial-interaction-answer-id {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: 300;
	color: rgba(255,255,255,.8);
	background-color: #FE189B;
	padding: 1px 2px 0px;
	display: inline-block;
	border-radius: 1px;
	line-height: 1.2;
	vertical-align: text-bottom;
}

/* Who's On First Tutorial Buttons */

.whosonfirst-tutorial-button {
	padding: 5px 8px !important;
	color: rgba(255,255,255,.8) !important;
	border: none !important;
	background-color: #5C5C5C !important;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 18px !important;
	font-weight: 100 !important;
	margin-top: 12px;
	display: inline-block !important;
	border-radius: 3px !important;
}

.whosonfirst-tutorial-submit-button {
	padding: 5px 8px !important;
	color: rgba(255,255,255,.8) !important;
	border: none !important;
	background-color: #7A7A7A !important;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 18px !important;
	font-weight: 100 !important;
	margin-top: 12px;
	display: inline-block !important;
	border-radius: 3px !important;
}

/* Default Bootstrap Styling */

.input-group {
	width: inherit;
}

button:focus {outline:0;}

svg {
	position:absolute;
    top:50%;
    bottom:50%;
    transform:translate(-50%, -50%);
}

.whosonfirst-active-answer {
	border: 1px solid #FE189B;
}

@media (max-width: 1199px) {
	.whosonfirst-tutorial-individual-result-header {
		font-size: 16px;
	}

	.whosonfirst-tutorial-individual-result-subheader {
		font-size: 14px;
	}

	.whosonfirst-tutorial-individual-result-key {
		font-size: 14px;
	}

	.whosonfirst-tutorial-individual-result-answer {
		font-size: 14px;
	}
	
	.whosonfirst-tutorial-individual-result-answer-clue {
		font-size: 14px;
	}

	.whosonfirst-tutorial-individual-result-code {
		font-size: 13px;
	}
	
	.whosonfirst-tutorial-interaction-id {
		font-size: 13px;
		padding: 1.5px 3px;
	}

	.whosonfirst-tutorial-interaction-answer-id {
		font-size: 10px;
		padding: 1px 2px 0px;
	}
	
	.whosonfirst-tutorial-button {
		padding: 3px 5px !important;
		font-size: 16px !important;
		margin-top: 8px;
	}

	.whosonfirst-tutorial-submit-button {
		padding: 3px 5px !important;
		font-size: 16px !important;
		margin-top: 8px;
	}
	
	.whosonfirst-tutorial-input-header {
		font-size: 24px;
		padding: 0 0 8px;
	}
	
	.whosonfirst-tutorial-input-box {
		font-size: 14px !important;
		height: 30px !important;
	}
	
	.whosonfirst-tutorial-input-top-box {
		height: 34px;
	}
	
	.whosonfirst-tutorial-input-top-box-left {
		font-size: 14px !important;
		height: 34px !important;
	}
	
	.whosonfirst-tutorial-input-top-box-right {
		font-size: 14px !important;
		height: 34px !important;
	}
	
	.whosonfirst-tutorial-input-top-box-right-button {
		font-size: 14px !important;
		line-height: 1 !important;
		height: 30px !important;
		padding: 4px 10px !important;
	}

	.whosonfirst-tutorial-form-clue {
		font-size: 13px;
	}
	
	.whosonfirst-tutorial-info-container {
		width: 500px;
		height: 300px;
		margin: -150px 0 0 -250px;
	}

	.whosonfirst-tutorial-info-image {
		height: 125px;
	}

	.whosonfirst-tutorial-info-header {
		font-size: 22px;
	}
	
	.whosonfirst-tutorial-info-header-one {
		padding-top: 12px;
	}

	.whosonfirst-tutorial-info-subheader {
		color: rgba(255,255,255,.8);
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size: 14px;
		padding: 6px 20px 0;
	}

	.whosonfirst-tutorial-info-bottom-row {
		bottom: 8px;
	}

	.whosonfirst-tutorial-info-back {
		font-size: 15px;
	}

	.whosonfirst-tutorial-info-next {
		font-size: 15px;
	}

	.whosonfirst-tutorial-info-progess-circle {
		width: 14px;
		height: 14px;
	}

	.whosonfirst-tutorial-info-close {
		font-size: 36px !important;
	}
	
	.whosonfirst-tutorial-top-side-button {
		width: 42px;
		height: 42px;
		margin: 8px 0;
	}

	.whosonfirst-tutorial-top-side-point-button {
		width: 20px;
		height: 20px;
		margin: 9px;
	}

	.whosonfirst-tutorial-top-side-pointpoint-container {
		margin:7px 7px;
	}

	.whosonfirst-tutorial-top-side-pointpoint-button {
		border-radius: 50%;
		width: 5px;
		height: 5px;
		background-color: rgba(33,33,33,.8);
		display: inline-block;
	}

	.whosonfirst-tutorial-top-side-plane-button {
		width: 18px;
		height: 18px;
		margin: 10px;
	}
	
	.whosonfirst-tutorial-result-header, .whosonfirst-tutorial-api-header {
		font-size: 22px;
		padding: 16px 12px 12px;
	}
	
	.whosonfirst-tutorial-result-box-container, .whosonfirst-tutorial-individual-code-container {
		padding-top: 62px;
	}
}
	
@media (max-width: 991px) {
	.whosonfirst-tutorial-individual-result-header {
		font-size: 14px;
	}

	.whosonfirst-tutorial-individual-result-subheader {
		font-size: 12px;
	}

	.whosonfirst-tutorial-individual-result-key {
		font-size: 12px;
		padding-right: 12px;
	}

	.whosonfirst-tutorial-individual-result-answer {
		font-size: 12px;
	}
	
	.whosonfirst-tutorial-individual-result-answer-clue {
		font-size: 12px;
	}

	.whosonfirst-tutorial-individual-result-code {
		font-size: 11px;
	}
	
	.whosonfirst-tutorial-interaction-id {
		font-size: 11px;
		padding: 1px 2px;
	}

	.whosonfirst-tutorial-interaction-answer-id {
		font-size: 9px;
		padding: 1px 2px 0px;
	}
	
	.whosonfirst-tutorial-result {
		padding: 6px;
	}
	
	.whosonfirst-tutorial-button {
		padding: 2px 4px !important;
		font-size: 14px !important;
		margin-top: 8px;
	}

	.whosonfirst-tutorial-submit-button {
		padding: 2px 4px !important;
		font-size: 14px !important;
		margin-top: 8px;
	}
	
	.whosonfirst-tutorial-input-header {
		font-size: 22px;
		padding: 0 0 6px;
	}
	
	.whosonfirst-tutorial-input-box {
		font-size: 13px !important;
		height: 26px !important;
	}
	
	.whosonfirst-tutorial-input-top-box {
		height: 30px;
	}
	
	.whosonfirst-tutorial-input-top-box-left {
		font-size: 13px !important;
		height: 30px !important;
	}
	
	.whosonfirst-tutorial-input-top-box-right {
		font-size: 14px !important;
		height: 30px !important;
	}
	
	.whosonfirst-tutorial-input-top-box-right-button {
		font-size: 14px !important;
		line-height: 1 !important;
		height: 30px !important;
		padding: 4px 10px !important;
	}

	.whosonfirst-tutorial-form-clue {
		font-size: 12px;
	}
	
	.whosonfirst-tutorial-info-container {
		width: 500px;
		height: 300px;
		margin: -150px 0 0 -250px;
	}

	.whosonfirst-tutorial-info-image {
		height: 125px;
	}

	.whosonfirst-tutorial-info-header {
		font-size: 22px;
	}
	
	.whosonfirst-tutorial-info-header-one {
		padding-top: 12px;
	}

	.whosonfirst-tutorial-info-subheader {
		font-size: 14px;
		padding: 6px 20px 0;
	}

	.whosonfirst-tutorial-info-bottom-row {
		bottom: 8px;
	}

	.whosonfirst-tutorial-info-back {
		font-size: 15px;
	}

	.whosonfirst-tutorial-info-next {
		font-size: 15px;
	}

	.whosonfirst-tutorial-info-progess-circle {
		width: 14px;
		height: 14px;
	}

	.whosonfirst-tutorial-info-close {
		font-size: 36px !important;
	}
	
	.whosonfirst-tutorial-top-side-button {
		width: 36px;
		height: 36px;
		margin: 6px 0;
	}

	.whosonfirst-tutorial-top-side-point-button {
		width: 16px;
		height: 16px;
		margin: 8px;
	}

	.whosonfirst-tutorial-top-side-pointpoint-container {
		margin:4px 6px;
	}

	.whosonfirst-tutorial-top-side-pointpoint-button {
		width: 4px;
		height: 4px;
	}

	.whosonfirst-tutorial-top-side-plane-button {
		width: 14px;
		height: 14px;
		margin: 9px;
	}
	
	.whosonfirst-tutorial-result-header, .whosonfirst-tutorial-api-header {
		font-size: 22px;
		padding: 16px 12px 12px;
	}
	
	.whosonfirst-tutorial-result-box-container, .whosonfirst-tutorial-individual-code-container {
		padding-top: 62px;
	}
}