/* These are meant to supersede mapzen.css */

body {
     line-height:1.8em !important;
}

footer {
       margin-bottom: 5em !important;
}

h1 {
   margin-bottom: .3em !important;
}

.caveat {
	font-style: italic;
}

.bundle-list {
	     list-style-type: none;
	     columns:2;
	     -webkit-columns: 2;
	     -moz-columns: 2;
	     list-style-position: inside;
}
