/* These are meant to supersede mapzen.css */

body {
     line-height:1.8em !important;
}

blockquote {
    font-size:small;
    margin-top:2em;
    margin-bottom:2em;
    background-color:#ededed;
}

footer {
    margin-bottom: 5em !important;
    margin-top: 3em !important;
    text-align:right !important;
}

h1 {
   margin-bottom: .3em !important;
}

h3 {
        margin-top: 2em;
	margin-bottom: 1em;
}

h4 {
    margin-top: 2em;
    margin-bottom:1em;
}

h5 {
    font-size: 1.3em !important;
    font-weight: 200 !important;
    margin-bottom:1em;
}

.hey-look {
    font-weight:700;
}

.caveat {
	font-style: italic;
}

.bundle-list {
	     list-style-type: none;
	     columns:2;
	     -webkit-columns: 2;
	     -moz-columns: 2;
	     margin-bottom:2em;
}

.bundle-list h4 {
	     margin-top: 0px !important;
}

.bundle-list ul {
	     margin-bottom: 1em; !important;
}

.tellmemore {
	    font-weight: 300 !important;
	    font-size:.7em !important;
}

.tellmemore:before {
	    content: "[ ";
}	     

.tellmemore:after {
	    content: " ]";
}	     

.col-md-8 {
}

.col-md-offset-2 {
		 margin-left: 3em !important;
		 margin-right: 3em !important;
		 width: auto !important;
}

@media (max-width: 1000px) {

       h3 {
       	  margin-bottom: .75em;
       }

       .col-md-offset-2 {
		 margin-left: 1.25em !important;
		 margin-right: 1.25em !important;
	}

       .bundle-list {
	     columns:1 !important;
	     -webkit-columns: 1 !important;
	     -moz-columns: 1 !important;
	     margin:0px;
	     padding:0px;
       }

       .bundle-list ul {
	     list-style-type: none !important;
	     margin:0px;
	     padding:0px;
	     margin-bottom:1em;
       }
}
